@use "../../../../styles/variables" as vars;

img {
  position: relative;
  width: 100%;
  box-shadow: 0 0 0 3px vars.$secondary;
  transition: box-shadow 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 3px vars.$primary;
  }
}
