<div id="champion-select" (mouseleave)="toggle(false)">
  @defer (when currentChampion) {
  <div id="current" (click)="toggle()">
    <img
      class="icon"
      [src]="champsService.getIcon(currentChampion.id)"
      [alt]="currentChampion.name"
    />
    <p>{{ currentChampion.name }}</p>
    <svg id="arrow" viewBox="0 0 24 24" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
  <div id="overlap" #overlap>
    <input
      type="text"
      [(ngModel)]="champsService.search"
      placeholder="Buscar"
    />
    <div id="choices">
      <button
        class="choice"
        [ngClass]="{ chosen: champ.name === currentChampion.name }"
        *ngFor="let champ of champsService.filteredChampions"
        (click)="selectChampion(champ)"
      >
        <img
          class="icon"
          [src]="champsService.getIcon(champ.id)"
          [alt]="champ.name"
        />
        <span class="name">{{ champ.name }}</span>
      </button>
    </div>
  </div>
  }
</div>
