@use "../../../styles/variables" as vars;

::-webkit-scrollbar {
  background-color: vars.$extra;
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$dark;
  border-radius: 5px;
}

#champion-select {
  position: relative;
  display: flex;
  flex: 1 0 100%;
  max-width: 15em;

  #current {
    cursor: pointer;
    color: vars.$primary;
    display: flex;
    gap: 0.5em;
    border-radius: 5px;
    background-color: vars.$dark;
    border: vars.$primary 2px solid;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
    position: relative;
    width: 100%;

    #arrow {
      flex-shrink: 0;
      height: 2em;
      margin-left: auto;
    }

    p {
      font-size: 1em;
      font-weight: 500;
    }
  }

  .icon {
    height: 1.5em;
  }

  #overlap {
    position: absolute;
    top: 3px;
    transform: translateY(-100%);
    display: none;
    flex-flow: column;
    width: 100%;
    z-index: 50;
    background: vars.$primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;

    input {
      position: sticky;
      top: 0;
      border: none;
      outline: none;
      color: vars.$white;
      border-bottom: vars.$primary 2px solid;
      background: vars.$extra;
      padding-inline: 0.5em;
      padding-block: 0.75em;

      &::placeholder {
        color: vars.$primary;
      }
    }

    #choices {
      height: 6em;
      overflow-y: auto;

      .choice {
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0.5em;
        gap: 0.5em;
        width: 100%;
        transition: color 500ms ease-in-out;

        &.chosen {
          background-color: vars.$secondary;
          .name {
            color: vars.$dark;
          }
        }

        &:hover {
          background-color: vars.$light;
          .name {
            color: vars.$white;
          }
        }

        .name {
          font-weight: 500;
          font-size: 1em;
          color: vars.$dark;
        }
      }
    }

    &.open {
      display: flex;
    }
  }
}
