@use "../../../../styles/variables" as vars;

#spells {
  display: flex;
  gap: 0.8em;
  padding-bottom: 1em;
  justify-content: center;
}

#info {
  background-color: vars.$dark;
  border-radius: 10px;
  width: 100%;
  display: flex;
  gap: 1em;
  height: 18em;
  #right {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    #name {
      color: vars.$secondary;
      font-weight: 500;
      font-size: 1.25em;
      text-align: center;
    }
    #description {
      color: vars.$primary;
      overflow-y: auto;
    }
  }
}
