@use "../../../styles/variables" as vars;

#container {
  display: flex;
  flex-flow: column;
  width: 100%;

  #profile-info {
    padding-inline: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2em;

    #left {
      display: flex;
      flex-flow: column;
      position: relative;
      gap: 1em;
      width: 100%;

      #icon {
        position: relative;
        border: 3px solid vars.$primary;
        width: 100%;
        img {
          width: 100%;
        }

        img {
          width: 100%;
        }

        #stats {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          gap: 1em;
          padding-block: 2em;
          padding-inline: 1em;
          border: none;
          background-color: rgba(vars.$dark, 0.5);
          text-align: left;

          &::backdrop {
            background-color: vars.$dark;
          }

          .stat {
            display: flex;
            flex-flow: column;

            .name {
              font-weight: 500;
              color: vars.$primary;
            }
          }
        }
      }
    }

    #right {
      display: flex;
      flex-flow: column;
      gap: 1em;
      #identity {
        text-decoration: none;
        #name {
          color: vars.$primary;
          font-size: 2em;
          font-weight: 600;
        }
        #identifier {
          color: vars.$light;
        }
      }

      #tags {
        display: flex;
        gap: 0.5em;

        #tag {
          background: vars.$secondary;
          color: vars.$white;
          padding: 0.25em;
          border-radius: 5px;
        }
      }

      #lore {
        overflow-y: auto;
        color: vars.$white;
        height: 100%;
      }
    }
  }
  #profile-content-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 3em;
    margin-top: 2em;

    button {
      width: 100%;
      background-color: transparent;
      color: vars.$white;
      border: none;
      cursor: pointer;
      position: relative;
      font-size: 1.25em;
      font-weight: 400;
      transition: backdrop-filter 250ms ease-in-out, color 250ms ease-in-out;

      &::backdrop {
        background-color: vars.$dark;
      }

      &:hover {
        backdrop-filter: brightness(150%);
      }
      &.active {
        color: vars.$primary;
      }

      &:hover {
        backdrop-filter: brightness(150%);
      }
    }
  }
  #profile-content {
    border-top: vars.$primary 2px solid;
    background-color: vars.$dark;
    width: 100%;

    #profile-skins,
    #profile-skills {
      padding: 2em;
      width: 100%;
    }
    #profile-posts {
      display: flex;
      flex-flow: column-reverse;
      width: 100%;
      .post:not(:last-child) {
        border-top: vars.$primary 2px solid;
      }
      #empty {
        text-align: center;
        margin: 2em;
        color: vars.$primary;
      }
    }
    #profile-responses {
      display: flex;
      flex-flow: column-reverse;
      width: 100%;
      .response:not(:last-child) {
        border-top: vars.$primary 2px solid;
      }
    }
    .empty {
      text-align: center;
      margin: 2em;
      color: vars.$primary;
    }
  }
}

@media (max-width: 900px) {
  #container {
    #profile-info {
      display: flex;
      flex-flow: column;
    }
    #profile-content-selector {
      display: flex;
      width: fit-content;
      max-width: 100%;
      overflow-x: auto;
      height: 4em;
      &::-webkit-scrollbar {
        display: none;
      }
      button {
        padding-inline: 1em;
      }
    }
    #profile-skins {
      padding: 0 !important;
    }
  }
}
