@use "../../../../styles/variables" as vars;

#new-comment-form {
  border-top: 2px solid vars.$primary;
  padding: 1em;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  width: 100%;

  #content {
    border: none;
    background-color: transparent;
    outline: none;
    color: vars.$white;
    font-weight: 400;
    font-size: 1em;
    resize: none;
    min-height: 5em;
    max-height: 25em;
    padding: 0.5em;
    overflow-y: auto;
    field-sizing: content;
  }

  #footer {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    width: 100%;

    :first-child {
      color: vars.$white;
    }

    #champion-select {
      width: 100%;
    }

    #submit-button {
      color: vars.$white;
      background-color: vars.$primary;
      border: none;
      border-radius: 5px;
      padding-inline: 2em;
      width: fit-content;
      font-weight: 500;
      font-size: 1em;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}
