@import "tailwindcss";

@theme {
  --color-primary: #c0a670;
  --color-secondary: #1e9288;
  --color-extra: #604f32;
  --color-dark: #030c14;
  --color-muted: #7a7974;
  --color-paper: #f7f7f7;

  --font-heading: var(--font-mukta-vaani);
  --font-body: var(--font-roboto);
}

body {
  background-color: var(--color-dark);
  color: var(--color-paper);
  font-family: var(--font-body);
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  background-color: var(--color-dark);
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5px;
}
