@use "../../../../styles/variables" as vars;

#champion-card {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: vars.$dark;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: vars.$white;
  transition: border 150ms ease-in-out, border 150ms ease-in-out;
  border: 2px solid vars.$dark;

  &:hover {
    color: vars.$primary;
    border-color: vars.$primary;
  }

  #champion-card-icon {
    height: 100%;
  }
  #champion-card-name {
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
