@use "../../../styles/variables" as vars;

#content {
  display: flex;
  flex-flow: column;
  background-color: vars.$dark;
  border-radius: 10px;

  #retrieve-posts-button {
    background-color: vars.$primary;
    padding: 1em;
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
  }

  #posts {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    .post {
      border-top: vars.$primary 2px solid;
    }
  }
}

.champion {
  display: flex;

  .icon {
    width: 5em;
    height: 5em;
  }
}
