@use "./variables" as vars;

#nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column;
  background-color: vars.$dark;
  width: 100%;
  max-width: 15em;
  justify-content: left;

  a {
    text-decoration: none;
    padding: 1em;
    color: vars.$primary;
    font-weight: 900;
    border-bottom: 2px transparent solid;

    &:hover {
      border-bottom: 2px vars.$primary solid;
    }
  }
  #logo-container {
    color: vars.$primary;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;

    img {
      height: 1.5em;
    }

    h1 {
      font-family: vars.$main-font;
      font-weight: 900;
      font-size: 1.5em;
    }
  }
}
