@use "../../../styles/variables" as vars;

#container {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 2em;
  gap: 2em;

  h1 {
    color: vars.$primary;
  }

  a {
    color: vars.$white;
    transition: color 250ms ease-in-out;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: vars.$secondary;
    }
  }
}
