<header>
  <a href="/" id="logo-container">
    <img src="jungle.png" />
    <h1>Social League</h1>
  </a>
  <nav>
    <a class="link" href="/">
      <span>Inicio</span>
    </a>
    @defer (when champsService.selectedChampion) {
    <a class="link" href="/profile/{{ champsService.selectedChampion.id }}">
      <img [src]="champsService.getIcon(champsService.selectedChampion.id)" />
      <span>{{ champsService.selectedChampion.name }}</span>
    </a>
    }
  </nav>
</header>
<div id="page-body">
  <router-outlet />
</div>
