@use "../styles/variables" as vars;

#content {
  display: flex;
  flex-flow: row;
  position: relative;

  #side {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    max-width: 600px;
    user-select: none;

    #nav-bar {
      position: sticky;
      top: 0;
      display: flex;
      flex-flow: column;
      background-color: vars.$dark;
      height: fit-content;
      width: 100%;
      max-width: 18em;
      margin-left: auto;

      a {
        display: flex;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
        padding-block: 0.5em;
        padding-inline: 1em;
        color: vars.$primary;
        font-weight: 900;
        font-size: 1.25em;
        border-bottom: 2px transparent solid;
        img,
        svg {
          height: 1.5em;
          flex-shrink: 0;
        }

        &:hover {
          backdrop-filter: brightness(150%);
        }
      }
      #logo-container {
        color: vars.$primary;
        display: inline-flex;
        align-items: center;
        gap: 1em;
        text-decoration: none;
        margin-bottom: 1em;

        img {
          height: 1.5em;
        }

        h1 {
          font-family: vars.$main-font;
          font-weight: 900;
          font-size: 1.5em;
        }
      }
    }
  }

  #main {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100svh;

    #page-body {
      flex-grow: 1;
      max-width: 700px;
      position: relative;
      width: 100%;
      background-color: vars.$dark;
      border-inline: vars.$primary 2px solid;
    }
  }
}
