@defer (when champion && post) {
<div class="container">
  @if (showNewQuoteForm) {
  <new-quote [post]="post" (onCancel)="showNewQuoteForm = false"></new-quote>
  } @defer(when showRespondsTo && respondsTo) {
  <p id="responds-to">
    Respuesta a
    <a href="/post/{{ post.response_of }}" title="{{ respondsTo.content }}">{{
      respondsTo.content
    }}</a>
  </p>
  }
  <div class="post">
    <div class="left">
      <a href="/champions/{{ post.champion_id }}" class="icon">
        <img
          class="icon"
          [src]="champsService.getIcon(post.champion_id)"
          [alt]="post.champion_id"
        />
      </a>
    </div>
    <div class="right">
      <div class="body">
        <div class="identity">
          <a href="/champions/{{ post.champion_id }}" class="name">{{
            post.champion_id
          }}</a>
          <a href="/champions/{{ post.champion_id }}" class="identifier">{{
            champion.title | identifier
          }}</a>
          <span class="created-at">{{ post.created_at | relativeDate }}</span>
        </div>
        <p class="content">{{ post.content }}</p>
        @defer(when showQuotedPost && quotedPost && !isQuote) {
        <a id="quote-url" href="/post/{{ quotedPost.id }}">
          <post-card
            id="quotes-to"
            [isQuote]="true"
            [showRespondsTo]="false"
            [post]="quotedPost"
          ></post-card
        ></a>
        }
      </div>
      @if (!isQuote) {
      <div class="footer">
        <div class="actions">
          <a href="/post/{{ post.id }}">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M5.337 21.718a6.707 6.707 0 0 1-.533-.074.75.75 0 0 1-.44-1.223 3.73 3.73 0 0 0 .814-1.686c.023-.115-.022-.317-.254-.543C3.274 16.587 2.25 14.41 2.25 12c0-5.03 4.428-9 9.75-9s9.75 3.97 9.75 9c0 5.03-4.428 9-9.75 9-.833 0-1.643-.097-2.417-.279a6.721 6.721 0 0 1-4.246.997Z"
                clip-rule="evenodd"
              />
            </svg>
            <span>{{ post.responses_count[0].count }}</span>
          </a>
          <button (click)="toggleShowQuoteActions()">
            <svg viewBox="0 0 512 512" fill="currentColor">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M368.4 18.3L312.7 74.1 437.9 199.3l55.7-55.7c21.9-21.9 21.9-57.3 0-79.2L447.6 18.3c-21.9-21.9-57.3-21.9-79.2 0zM288 94.6l-9.2 2.8L134.7 140.6c-19.9 6-35.7 21.2-42.3 41L3.8 445.8c-3.8 11.3-1 23.9 7.3 32.4L164.7 324.7c-3-6.3-4.7-13.3-4.7-20.7c0-26.5 21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48c-7.4 0-14.4-1.7-20.7-4.7L33.7 500.9c8.6 8.3 21.1 11.2 32.4 7.3l264.3-88.6c19.7-6.6 35-22.4 41-42.3l43.2-144.1 2.7-9.2L288 94.6z"
              />
            </svg>
            <span>{{ post.quotes_count[0].count }}</span>
            @if (showQuoteActions) {
            <div id="quote-actions" (mouseleave)="toggleShowQuoteActions()">
              <button (click)="showNewQuoteForm = true">Citar</button>
              <a href="/post/{{ post.id }}/quotes">Ver citas</a>
            </div>
            }
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  @defer (when showComments) {
  <div id="comments">
    <post-card
      *ngFor="let response of responses"
      class="comment"
      [poster]="post.champion_id"
      [post]="response"
      [showRespondsTo]="false"
    />
  </div>
  <new-response
    (onResponseAdded)="onResponseAdded($event)"
    [postId]="post.id"
  ></new-response>
  }
</div>
}
