@use "../../../styles/variables" as vars;

.container {
  background-color: vars.$dark;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  #responds-to {
    color: vars.$light;
    padding-top: 1em;
    padding-left: 1em;
    max-width: 50%;
    display: flex;
    gap: 0.3em;
    text-wrap: nowrap;
    a {
      text-decoration: none;
      color: vars.$secondary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .post {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 0.5em;
    padding: 1em;
    font-size: 1rem !important;

    .left {
      display: flex;
      flex-flow: column;
      justify-content: start;
      .icon {
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        border: 3px solid vars.$dark;
        overflow: hidden;
        display: flex;
        img {
          border: none;
          height: 115%;
          object-fit: cover;
          justify-self: center;
          align-self: center;
        }
      }
    }
    .right {
      display: flex;
      flex-flow: column;
      gap: 0.5em;
      width: 100%;

      .identity {
        display: flex;
        align-items: center;
        gap: 0.25em;
        position: relative;
        padding-bottom: 3px;

        .name {
          text-decoration: none;
          color: vars.$primary;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
        .identifier {
          color: vars.$light;
          text-decoration: none !important;
        }
        .created-at {
          color: vars.$light;
          transform: translateX(1em);
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: -0.75em;
            top: 50%;
            height: 0.25em;
            width: 0.25em;
            background-color: vars.$light;
            transform: translateY(-50%);
            border-radius: 50%;
          }
        }
      }
    }

    .body {
      color: vars.$white;
      word-break: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      max-width: 100%;
      user-select: contain;
      #quote-url {
        display: flex;
        border-radius: 10px;
        margin-top: 0.5em;
        width: 100%;
        text-decoration: none;
        transition: border-color ease-in-out 250ms;
        border: 1px solid vars.$light;

        &:hover {
          border-color: vars.$primary;
        }

        #quotes-to {
          display: flex;
          width: 100%;
        }
      }
    }

    .footer {
      color: vars.$secondary;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .actions {
        display: flex;
        justify-content: left;
        gap: 1em;
        a,
        button {
          position: relative;
          width: fit-content;
          border: none;
          background: none;
          color: vars.$light;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          align-items: center;
          gap: 0.5em;
          text-decoration: none;
          transition: color 250ms ease-in-out;
          white-space: nowrap;

          svg {
            flex-shrink: 0;
            height: 1.25em;
          }

          span {
            font-size: 1em;
            font-weight: 400;
          }

          &:hover {
            color: vars.$primary;
          }

          #quote-actions {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
            display: flex;
            flex-flow: column;
            gap: 0.5em;
            box-shadow: 0 0 2px 2px vars.$primary;
            border-radius: 5px;
            overflow: hidden;
            background-color: vars.$dark;

            button,
            a {
              padding-block: 0.5em;
              padding-inline: 1em;
              width: 100%;
              font-weight: 500;
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
  #comments {
    display: flex;
    flex-flow: column;
    padding: 1em;
    gap: 1em;

    .comment {
      position: relative;
      left: 2.75em;
      width: calc(100% - 2.75em);
      border: vars.$primary 2px solid;
      border-radius: 10px;
      &::before {
        position: absolute;
        top: -4em;
        left: 0;
        transform: translateX(-100%);
        content: "";
        width: 1.5em;
        height: calc(100% + 1.6em);
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: vars.$primary;
        border-end-start-radius: 10px;
      }
    }
  }
}
