@use "../../../../styles/variables" as vars;

::-webkit-scrollbar {
  height: 0.5em;
  background-color: vars.$extra;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$secondary;
  border-radius: 5px;
}

#gallery {
  width: 100%;
  display: flex;
  flex-flow: column;

  #wrapper {
    position: relative;
    border: vars.$primary 3px solid;
    width: 100%;

    #slider {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      width: 100%;

      img {
        aspect-ratio: 16/9;
        width: 100%;
        scroll-snap-align: start;
        object-fit: cover;
      }
    }
    #button-left,
    #button-right {
      position: absolute;
      height: 100%;
      width: 8%;
      cursor: pointer;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: vars.$primary;
      border: none;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      svg {
        flex-shrink: 0;
      }
      &:hover {
        opacity: 1 !important;
      }
      &#button-left {
        top: 0;
        left: 0;
        background: linear-gradient(to right, vars.$dark, transparent);
      }
      &#button-right {
        top: 0;
        right: 0;
        background: linear-gradient(to left, vars.$dark, transparent);
      }
    }
  }
  #slider-nav {
    position: relative;
    display: flex;
    border-inline: 3px solid vars.$primary;
    border-bottom: 3px solid vars.$primary;
    height: 4em;
    width: 100%;
    overflow-x: auto;
    background-color: vars.$dark;

    button {
      cursor: pointer;
      opacity: 0.25;
      transition: opacity ease 250ms;
      border: none;
      display: flex;
      background-color: transparent;

      img {
        height: 100%;
        aspect-ratio: 16/9;
      }
      &:hover,
      &.current {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1200px) {
  #wrapper,
  #slider-nav {
    border: none !important;
  }
}
