<div id="gallery">
  <div id="wrapper">
    <div id="slider">
      <img
        *ngFor="let skin of champion.skins"
        [class]="'slide-' + skin"
        [src]="champsService.getSplash(champion.id, skin)"
      />
    </div>
    <button id="button-left" (click)="previousSlide()">
      <svg viewBox="0 0 24 24" fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <button id="button-right" (click)="nextSlide()">
      <svg viewBox="0 0 24 24" fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
  <div id="slider-nav">
    <button
      [class]="'slide-' + skin"
      [ngClass]="{ current: skin === currentSkin }"
      *ngFor="let skin of champion.skins"
      (click)="navigateToSlide(skin)"
    >
      <img [src]="champsService.getSplash(champion.id, skin)" />
    </button>
  </div>
</div>
