@use "../../../../styles/variables" as vars;

#stars {
  display: flex;
  height: 1em;
  flex-flow: row nowrap;
  justify-content: left;
  width: fit-content;

  .star {
    color: vars.$primary;
    &.right {
      transform: rotateY(180deg);
    }
    &.placeholder {
      color: vars.$extra;
    }
  }
}
