@use "../../../styles/variables" as vars;

.container {
  background-color: vars.$dark;
  .post {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 0.5em;
    padding: 1em;
    font-size: 1rem !important;
    .left {
      display: flex;
      flex-flow: column;
      justify-content: start;
      .icon {
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        border: 3px solid vars.$dark;
        overflow: hidden;
        display: flex;
        img {
          border: none;
          height: 115%;
          object-fit: cover;
          justify-self: center;
          align-self: center;
        }
      }
    }
    .right {
      display: flex;
      flex-flow: column;
      gap: 0.5em;

      .identity {
        display: flex;
        align-items: center;
        gap: 0.25em;
        position: relative;
        padding-bottom: 3px;

        .name {
          text-decoration: none;
          color: vars.$primary;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
        .identifier {
          color: vars.$light;
          text-decoration: none !important;
        }
        .created-at {
          color: vars.$light;
        }
      }
    }

    .body {
      color: vars.$white;
    }

    .footer {
      color: vars.$secondary;
      display: flex;
      flex-direction: column;

      .actions {
        display: flex;
        justify-content: left;
        gap: 1em;
        a {
          width: fit-content;
          border: none;
          background: none;
          color: vars.$light;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          align-items: center;
          gap: 0.5em;
          text-decoration: none;
          transition: color 250ms ease-in-out;

          svg {
            flex-shrink: 0;
            height: 1.25em;
          }

          span {
            font-size: 1em;
            font-weight: 400;
          }

          &:hover {
            // backdrop-filter: brightness(200%);
            color: vars.$primary;
          }
        }
      }
    }
  }
  #comments {
    display: flex;
    flex-flow: column;
    .comment {
      border-top: vars.$primary 2px solid;
    }
  }
}
