@defer (when champion) {
<div class="container">
  <div class="post">
    <div class="left">
      <a href="/champions/{{ post.champion }}" class="icon">
        <img
          class="icon"
          [src]="champsService.getIcon(post.champion)"
          [alt]="post.champion"
        />
      </a>
    </div>
    <div class="right">
      <div class="body">
        <div class="identity">
          <a href="/champions/{{ post.champion }}" class="name">{{
            post.champion
          }}</a>
          <a href="/champions/{{ post.champion }}" class="identifier">{{
            champion.title | identifier
          }}</a>
          <span class="created-at">{{ post.created_at | relativeDate }}</span>
        </div>
        <p class="content">{{ post.content }}</p>
      </div>
      <div class="footer">
        <div class="actions">
          <a href="/post/{{ post.id }}">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M5.337 21.718a6.707 6.707 0 0 1-.533-.074.75.75 0 0 1-.44-1.223 3.73 3.73 0 0 0 .814-1.686c.023-.115-.022-.317-.254-.543C3.274 16.587 2.25 14.41 2.25 12c0-5.03 4.428-9 9.75-9s9.75 3.97 9.75 9c0 5.03-4.428 9-9.75 9-.833 0-1.643-.097-2.417-.279a6.721 6.721 0 0 1-4.246.997Z"
                clip-rule="evenodd"
              />
            </svg>
            <span>
              {{ post.comments[0].count }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  @if (showComments) {
  <div id="comments">
    <comment-card
      class="comment"
      [poster]="post.champion"
      *ngFor="let comment of comments"
      [comment]="comment"
    />
    <new-comment
      (onCommentAdded)="onCommentAdded($event)"
      [postId]="post.id"
    ></new-comment>
  </div>
  }
</div>
}
