@use "../../../styles/variables" as vars;

.container {
  background-color: vars.$dark;
  .post {
    display: flex;
    flex-flow: column;
    width: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      align-items: center;

      .champ {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: vars.$primary;
        text-decoration: none;
        position: relative;

        .icon {
          height: 3em;
          width: 3em;
          border-radius: 50%;
          border: 3px solid vars.$primary;
          overflow: hidden;
          display: flex;
          img {
            border: none;
            height: 115%;
            object-fit: cover;
            justify-self: center;
            align-self: center;
          }
        }

        .identity {
          display: flex;
          align-items: center;
          gap: 0.25em;
          font-size: 1em;
          position: relative;

          .name {
            text-decoration: none;
            color: vars.$primary;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
          .identifier {
            color: vars.$light;
            text-decoration: none !important;
          }
          .mini-profile {
            position: absolute;
            bottom: 0;
            left: 50%;
            opacity: 0; /* Completamente transparente */
            visibility: hidden; /* Oculto visualmente */
            transform: translateY(
              10px
            ); /* Desplazado hacia arriba para el efecto */
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
            z-index: 100;
          }

          &:hover .mini-profile {
            opacity: 1; /* Completamente visible */
            visibility: visible; /* Se hace visible */
            transform: translateY(0); /* Vuelve a su posición original */
          }
        }
      }

      .created-at {
        color: vars.$light;
      }
    }

    .body {
      padding-inline: 1em;
      min-height: 2em;

      .content {
        color: vars.$white;
      }
    }

    .footer {
      padding-inline: 1em;
      padding-bottom: 1em;
      color: vars.$secondary;
      display: flex;
      flex-direction: column;

      .actions {
        display: flex;
        justify-content: left;
        gap: 1em;
        a {
          width: fit-content;
          border: none;
          background: none;
          color: vars.$light;
          cursor: pointer;
          padding: 0.5em;
          border-radius: 5px;
          display: flex;
          align-items: center;
          gap: 0.5em;
          text-decoration: none;
          transition: color 250ms ease-in-out;

          svg {
            flex-shrink: 0;
            height: 1.5em;
          }

          span {
            font-size: 1.25em;
            font-weight: 400;
          }

          &:hover {
            // backdrop-filter: brightness(200%);
            color: vars.$primary;
          }
        }
      }
    }
  }
  #comments {
    display: flex;
    flex-flow: column;
    .comment {
      border-top: vars.$primary 2px solid;
    }
  }
}
