@use "../../../styles/variables" as vars;

.mini-profile {
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: translateY(100%) translateX(-50%);
  background-color: vars.$dark;
  box-shadow: vars.$primary 0 0 8px 2px;
  color: vars.$white;
  width: 24em;
  z-index: 100;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 1em;

  .mini-profile-header {
    display: flex;
    gap: 1em;
    align-items: center;

    .mini-profile-icon {
      border-radius: 50%;
      width: 3em;
      height: 3em;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 115%;
      }
    }

    .mini-profile-identity {
      text-decoration: none;

      .mini-profile-name {
        color: vars.$primary;
        font-weight: 600;
        font-size: 1.5em;
        height: fit-content;

        &:hover {
          text-decoration: underline;
        }
      }
      .mini-profile-identifier {
        color: vars.$light;
      }
    }
  }
  .mini-profile-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: vars.$primary;
    .divider {
      height: 1.5em;
      width: 2px;
      background-color: vars.$light;
    }

    *:not(.divider) {
      display: flex;
      gap: 0.5em;
      align-items: center;

      svg {
        flex-shrink: 0;
        height: 1.5em;
      }
    }
  }
}
